body {
  font-family: "Otomanopee One", sans-serif;
  margin: 0px;
}
h1 {
  font-size: 50px;
}
.cyan {
  color: rgb(2, 170, 170);
}
section {
  display: flex;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width img {
  width: 80%;
  padding-left: 2%;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(darkcyan, cyan);
  padding: 10px 30px;
  border-radius: 5px;
  color: rgb(248, 248, 248);
}
.mid-background {
  background-image: url(images/shapes/blue-bg.jpg);
  background-image: no-repeat;
  background-size: 1500px;
  background-position: left 10px;
}
h3 {
  text-align: center;
}
section {
  padding-bottom: 40px;
}
.mid-align {
  text-align: center;
}
.flex-container {
  display: flex;
  margin-bottom: 150px;
}
,
.flex-container img {
  width: 50%;
}
.mini {
  padding-left: 20px;
  padding-right: 20px;
}
h2 {
  text-align: center;
}
.services {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 10px 10px 40px gray;
}
.footer {
  text-align: center;
}
.small {
  text-align: center;
}
